# default CodeOwners
* @merltech/merl-center-public-admins

# Learning Content Case Studies CodeOwners
_caseStudies/* @merltech/merl-center-lc-editors

# Learning Content Guides CodeOwners
_guides/* @merltech/merl-center-lc-editors

# Learning Content Picture Assets CodeOwners
_assets/img/posts/* @merltech/merl-center-lc-editors
