---
layout: default
id: home
---

<div class="hero">
  <div class="wrapper">
    <div class="hero__content" data-animate-in="fade" data-animate-in-delay="110">
      <p class="h6">Welcome to the MERL center</p>
      <h1 class="h1 mb-3">The official MERL open source community</h1>
      <p class="p-lg">MERL Center is an open source community creating resources for monitoring, evaluation, research and learning (MERL) practitioners of all technology capacities.</p>
    </div>
  </div>

  <figure class="hero__pattern" data-animate-in="fade" data-animate-in-delay="150">
    <img src="{{ '/assets/img/direction/merl-pattern.svg' | relative_url }}" alt="pattern" />
  </figure>
</div>


<div class="wrapper my-6">

  <hr class="hr-thin" />

  <h2 class="h6 mt-4 mb-5">Explore our work</h2>

  <div class="btn btn--outline btn--static js-filter-toggle d-lg-none col-12 mb-4">
    <span>Filters</span>
    {% octicon filter height:16 %}
  </div>

  <div class="filters">
    <div class="filters__inner">
      <div class="filter">
        <p>MERL Technology Workflow:</p>

        <div class="dropdown">
          <select id="workflow-filters">
            <option value="">
              <span>All workflows {% octicon chevron-down height:16 %}</span>
            </option>
            <option value="data-collection-and-management">
              <span>Data Collection and Management</span>
            </option>
            <option value="data-analysis-and-visualization">
              <span>Data Analysis and Visualization</span>
            </option>
            <option value="reporting">
              <span>Reporting</span>
            </option>
          </select>
        </div>
      </div>
      <div class="filter">
        <p>Content Type:</p>

        <div class="dropdown">
          <select id="content-type-filters">
            <option value="">
              <span>All content types {% octicon chevron-down height:16 %}</span>
            </option>
            <option value="caseStudies">
              <span>Case Studies</span>
            </option>
            <option value="guides">
              <span>Guides</span>
            </option>
          </select>
        </div>
      </div>
      <a class="reset-desk js-reset-filters" href="">Reset Filters</a>
      <div class="filter__close js-filter-toggle">{% octicon x height:16 %}</div>
    </div>
    <div class="screen js-filter-toggle"></div>
  </div>

  <hr />

  {% assign caseStudies = site.caseStudies %}
  {% assign guides = site.guides %}

  {% assign posts = caseStudies | concat: guides %}

  <ul class="post-preview-list js-filtered-list">
    {% for post in posts %}
    <li>
      {% include post-preview.html %}
    </li>
    {% endfor %}
  </ul>


</div>
