
<footer class="footer">

  <div class="bg-gray-light">
    <div class="container-xl p-responsive f6 py-4 d-sm-flex flex-justify-between flex-row-reverse flex-items-center">
      <ul class="list-style-none d-flex flex-items-center mb-3 mb-sm-0 lh-condensed-ultra social-icons">

        <li class="mr-3"><a href="https://docs.github.com/en/github/site-policy/github-terms-of-service" data-ga-click="Footer, go to terms, text:terms" class="link-gray">Terms</a></li>
        <li class="mr-4"><a href="https://docs.github.com/en/github/site-policy/github-privacy-statement" data-ga-click="Footer, go to privacy, text:privacy" class="link-gray">Privacy</a></li>

      </ul>
      <ul class="list-style-none d-flex text-gray">
        <li class="mr-3">
          © MERL Tech <span id="year"></span>. All Rights Reserved.
        </li>

      </ul>
    </div>
  </div>
  <script>
      var date = new Date().getFullYear(),
      year = document.getElementById('year');
      if(year) {
          document.getElementById('year').innerHTML = date;
      }
  </script>
</footer>
