
<footer class="footer">

  <div class="bg-gray-light">
    <div class="container-xl p-responsive f6 py-4 d-md-flex flex-justify-between flex-row-reverse flex-items-baseline">
<!--
      <ul class="list-style-none d-flex flex-items-center mb-3 mb-md-0 lh-condensed-ultra social-icons">

        <li class="mr-3"><a href="https://docs.github.com/en/github/site-policy/github-terms-of-service" data-ga-click="Footer, go to terms, text:terms" class="link-gray">Terms</a></li>
        <li class="mr-4"><a href="https://docs.github.com/en/github/site-policy/github-privacy-statement" data-ga-click="Footer, go to privacy, text:privacy" class="link-gray">Privacy</a></li>
      </ul>
-->
      <ul class="list-style-none d-md-flex flex-items-center text-gray">
        <li class="mb-3 mb-md-0 mr-3">
          © MERL Center <span id="year"></span>. All Rights Reserved.
        </li>
        <li>
          <a class="d-flex flex-justify-center flex-items-center" href="https://socialimpact.github.com/" target="_blank">
          <span class="d-none d-md-inline mr-3">|</span>
          Made possible by a donation from 
          <img style="height: 28px; margin-top: -2px;" src="{{ '/assets/img/Social-Impact-logo.svg' | relative_url }}" alt="GitHub Social Impact logo" />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <script>
      var date = new Date().getFullYear(),
      year = document.getElementById('year');
      if(year) {
          document.getElementById('year').innerHTML = date;
      }
  </script>
</footer>
