
<div class="wrapper bg-light" id="subscribe">
    <div class="form-wrap">
      <div class="h2 mb-2">Join the MERL Center!</div>
      <div class="rte">
        <p class="f3 mb-5">Please <a href="https://forms.gle/ULFWYt6y4fkw2FH28" target="_blank">fill out this form</a> if you'd like to participate in the MERL Center! We're always looking for new members.</p>
        <p><em>Note that we are pausing onboarding for the holidays and will resume in mid-January 2022.</em></p>
      </div>
      <a class="btn" href="https://forms.gle/ULFWYt6y4fkw2FH28" target="_blank">
        <span>Fill out the form</span>
        {% octicon arrow-right height:16 %}
      </a>
    </div>
</div>
