// ---------------------------------------------------------------------
//  One Offs
// ---------------------------------------------------------------------

.cta-block {
  display: block;
  padding: 60px 28px 48px;
  position: relative;
  z-index: 1;

  @include start-at($large) {
    max-width: 375px;
    margin-left: auto;
  }

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $yellow;
    border-radius: 0px 16px 0px 0px;
    z-index: -1;
  }

  &:after {
    content: '';
    width: 236px;
    height: 376px;
    position: absolute;
    z-index: -2;
    background: url('./images/svgs/dot-group.svg') center / cover no-repeat;
    top: 40px;
    right: -14px;

    @include start-at($medium) {
      width: 376px;
      height: 440px;
      top: auto;
      bottom: -48px;
      right: -82px;
    }
  }

}


// ----------------------------------------
//
// ----------------------------------------

.tooltip-wrap {
  position: relative;
  margin-left: 4px;

  svg {
    width: 12px;
    height: 12px;
    fill: $gray-dark;
    transform: translate3d(0, -4px, 0);
  }

  &:hover {
    cursor: pointer;

    .tooltip {
      display: block;
    }
  }
}

.is-touch {
  .tooltip-wrap {
    display: none;
  }
}


.tooltip {
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 0 0 18px 12px;
  display: none;

  > * {
    background: $gray-light;
    font-size: 12px;
    color: $gray-dark;
    border: 1px solid rgba($gray-dark, 0.2);
    border-radius: 4px;
    padding: 8px;
    width: 180px;
  }

  p {
    font-size: 12px;
  }

  a {
    color: $brand;
    text-decoration: underline;
  }

  &:hover {

    display: block;
  }

}
